.container {
    max-width: 1024px;
    width: 100%;
    margin: auto;

    .row-space-bettween{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items:baseline;
            padding: 0 20px;
            max-width: 100%;

            h1{
                margin-bottom: 23px;
            }
        }
    }

    @media (max-width: 768px) {
        width: 100vw;

        .row-space-bettween {
            width: 100%;
        }
    }
}